<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <% @outfits.each do |outfit| %>
      <p><%= outfit.title %></p>
      <% end %>
    </div>
  </div>
</div>
