<div id="home" class="text-center walden">
  <div class="filter"></div>
  <div class="home-container">
    <h1> HIP ME!</h1>
        <%= image_tag "logo_big.png", class: "img-home" %>
    <!-- <h2>Louez du bon goût près de chez vous</h2> -->
    <h2>Hip me as hard as you can</h2>

    <form class="form-inline" action="outfits/styles" method="GET">
      <div class="input-group">
        <input type="text" class="form-control input-lg" aria-label="..." placeholder="Williamsburg, NY">
      </div>
      <div class="input-group">
        <input type="date" class="form-control input-lg" aria-label="..." placeholder="10/11/2015">
      </div>
      <div class="input-group">
        <input type="date" class="form-control input-lg" aria-label="..." placeholder="12/11/2015">
      </div>
      <div class="input-group">
        <select id="" class="form-control input-lg">
          <option>Urban</option>
          <option>Hipster</option>
          <option>For a job interview</option>
          <option>For a night out</option>
        </select>
      </div>
      <div class="input-group">
        <select id="" class="form-control input-lg">
          <option>165cm</option>
          <option>170cm</option>
          <option selected>175cm</option>
          <option>180cm</option>
          <option>185cm</option>
          <option>190cm</option>
        </select>
      </div>
      <div class="input-group">
        <input type="submit" name="submit" value="HIP ME!" class="btn btn-warning btn-lg"></input>
      </div>
    </form>
  </div>
</div>
