/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin-top: 14px;
  margin-left: 1372px;
  margin-right: 13px;
  text-align: center;
  color: white;
  position: absolute;
  z-index: 4;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
