#background {
  background-image: url('https://images.unsplash.com/photo-1446214814726-e6074845b4ce?dpr=2&fit=crop&fm=jpg&h=1372&ixlib=rb-0.3.5&q=50&w=1700');
  // text-align: center;
  // margin-top: "50%";
  background-size: cover;
  align-items: center;
  position: relative;
  display: block;
}

.font-devise {
  opacity: 0,8;
  font-size: 14px;
  // font-weight: ;
}
